* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
    background-color: black;
}

#mainContainer {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#selectionContainer {
    display: flex;
    padding: 20px;
}

#rock {
    width: 325px;
    height: 325px;
    margin: 5px;
    background-image: url(./img/rock.png);
    background-size: cover;
    border: 1px solid black;
    border-radius: 200px;
}

#paper {
    width: 325px;
    height: 325px;
    margin: 5px;
    background-image: url(./img/paper.png);
    background-size: cover;
    border: 1px solid black;
    border-radius: 200px;
}

#scissors {
    width: 325px;
    height: 325px;
    margin: 5px;
    background-image: url(./img/scissors.png);
    background-size: cover;
    border: 1px solid black;
    border-radius: 200px;
}

#messages {
    background-color: grey;
    text-align: center;
    width: 900px;
    padding: 25px;
    border: 1px solid red;
    border-radius: 10px;
    font-size: 25px;
    margin-top: 20px;
}

#scoreBoard {
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: left;
    background-color: whitesmoke;
    font-weight: 100;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
    border-radius: 2px;
}